@model List<Blog.Models.Post>

@{
    ViewBag.Title = "Home Page";
}
<!-- Own View -->
<style>
  .margin-50 {
    margin-top: 50px;
  }
  .margin-20 {
    margin-top: 20px;
  }
</style>

<a class="btn btn-default margin-20" href='@Url.Action("Add", "Home")'>Agregar Post</a>

<table class="table margin-50">
    @foreach (var post in Model)
    {
        <tr>
            <td>
                <h4>
                    <a href='@Url.Action("Show", "Home", new { id = post.Id })'> @post.Title </a>
                </h4>
                <p>@post.Date</p>
                <p>@post.Category</p>
            </td>
            <td>
                <a class="btn btn-default" href='@Url.Action("Add", "Home", new { id = post.Id })'>Editar</a>
            </td>
            <td>
                <a class="btn btn-default" href='@Url.Action("Delete", "Home", new { id = post.Id })'>Eliminar</a>
            </td>
        </tr>
    }
</table>

