@model Blog.ViewModels.PostVM

@{
  ViewBag.Title = "Show";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Own View -->
<style>
  .margin-50 {
    margin-top: 50px;
  }
</style>

@Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-default margin-50" } )

<h2>@Model.post.Title</h2>
<h4>@Model.post.Category</h4>
<p>@Model.post.Date</p>

<p>@Model.post.Description</p>


<div class="margin-50">
  <h4>Agregar comentario</h4>

  @using (Html.BeginForm("AddComment", "Home", FormMethod.Post))
  {
    @Html.HiddenFor(p => p.comment.Id_Post, new { Value = @Model.post.Id })
    <div class="form-group">
      @Html.LabelFor(p => p.comment.Name)
      @Html.TextBoxFor(p => p.comment.Name, new { @class = "form-control" })
      @Html.ValidationMessageFor(p => p.comment.Name)
    </div>

    <div class="form-group">
      @Html.LabelFor(p => p.comment.Review)
      @Html.TextAreaFor(p => p.comment.Review, new { @class = "form-control" })
      @Html.ValidationMessageFor(p => p.comment.Review)
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-success" role="button">Enviar</button>
    </div>
  }

  <div class="margin-50">
    <h4>Comentarios</h4>
    @foreach (var comment in Model.comments)
    {
      <div style="margin-top: 20px">
        <strong>@comment.Name</strong>
        <p>@comment.Review</p>
      </div>
    }
  </div>
</div>
